@model BasketViewModel
<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Sepet</h5>
                @if (Model != null && Model.basketItems.Any())
                {
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Kurs İsim</th>
                                <th>Kurs Fiyat</th>
                                <th>İşlemler</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.basketItems)
                            {
                                <tr>

                                    <td>@item.CourseName</td>
                                    <td>
                                        @item.GetCurrentPrice TL @(Model.HasDiscount ? $"(%{Model.DiscountRate.Value} uygulandı)" : "")
                                    </td>
                                    <td>
                                        <a asp-controller="Basket" asp-action="RemoveBasketItem" asp-route-courseId="@item.CourseId" class="btn btn-success btn-sm">Sil</a>


                                    </td>
                                </tr>

                            }

                            @if (Model.HasDiscount)
                            {
                                <tr>
                                    <th>Indirim Oranı</th>
                                    <td colspan="2">%@Model.DiscountRate.Value</td>
                                </tr>


                            }
                            <tr>
                                <td>@(Model.HasDiscount ? "İndirimli Fiyat" : "Toplam Fiyat")</td>
                                <td colspan="2">@Model.TotalPrice TL</td>
                            </tr>

                        </tbody>
                    </table>
                    <form asp-controller="Basket" asp-action="ApplyDiscount">
                        @if (Model.HasDiscount)
                        {
                            <div class="alert alert-success">
                                "@Model.DiscountCode" indirim kodu uygulandı
                                <a asp-controller="Basket" asp-action="CancelApplyDiscount">(iptal et)</a>
                            </div>

                        }

                        <div class="input-group mb-3">
                            <input type="text" name="DiscountApplyInput.Code" class="form-control" />
                            <button type="submit" class="btn btn-outline-secondary">Uygula</button>
                        </div>
                        @if (TempData["discountStatus"] != null && (bool)TempData["discountStatus"] == false)
                        {
                            <div class="text-danger">İndirm Kodu Geçersiz</div>

                        }
                        @if (TempData["discountError"] != null)
                        {
                            <div class="text-danger">@TempData["discountError"]</div>
                        }

                    </form>

                }
                else
                {

                    <div class="alert alert-info">Sepet Boş</div>
                }

            </div>
        </div>
    </div>
</div>

